@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities);
@layer theme, base, components, utilities;
@config "../tailwind.config.js";

body {
  @apply leading-[normal] m-0 text-gray;
  font-family: "Poppins", sans-serif;
  background-color: #faf6ff;
}

/* @theme inline {
  --font-sans: var(--font-satoshi);
} */
@theme {
  --color-primary: #b400f7;
  --color-primary-light: #f8e5ff;
  --drop-shadow-btn: 0 4px 4px #640091;
  --drop-shadow-dark: 0 3px 3px #171717;
  --color-gray: #1a1a1a;
  --color-gray-light: #414141;
  --color-gray-medium: #d7d7d7;
  --color-gray-lighter: #c8c8c8;
  --color-yellow: "#fdd835";
  --color-background: #faf6ff;
  --color-blue-light: #eff6ff;
  --color-orange: #ee7435;
  --color-brown: #bc4443;
}

@layer components {
}

@layer base {
  *,
  ::before,
  ::after {
    border-width: 0;
  }
}

.btn-onboard {
  border-style: outset;
  border-width: 3;
  position: relative;
  z-index: 1;
  background-image: linear-gradient(#000000, #ffffff);
}
.btn-onboard::before {
  content: "";
  position: absolute;
  width: 90%;
  height: 90%;
  z-index: -1;
  border-radius: 50%;
  background-color: var(--color-primary);
}

.btn {
  @apply focus:outline-none cursor-pointer focus:scale-[0.98] disabled:cursor-not-allowed disabled:opacity-50;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.no-scroll {
  overflow: hidden;
}

/* Custom scrollbar styles */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #989898;
  border-radius: 3px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #717171;
}

.no-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
